# Created by https://www.gitignore.io

### AppceleratorTitanium ###
# Build folder and log file
build/
build.log


### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml
.nb-gradle/

